.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.accordion {
    background-color: #fbba43;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius:5px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #fbba43; 
}
.active:after {
    content: "\25BC";
    color:white;
    float: right;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-bottom:0px;
    margin-top:10px;
}
body {
  padding: 0;
  background-color:#ccccccc4;
}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
.cocogoose{
  font-family:"COCOGOOSE";
  src:url("Cocogoose_trial.eot?") format("eot"),url("Cocogoose_trial.woff") format("woff"),url("Cocogoose_trial.ttf") format("truetype"),url("Cocogoose_trial.svg#COCOGOOSE") format("svg");font-weight:normal;font-style:normal;
}
.line-left{border-left:2px solid #fbba43}
.line-top{border-top:2px solid #fbba43;}
.p0{padding:0px;}
.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt15p{padding-top:15%;}
.pt19p{padding-top:19%;}
.pr5p{padding-right:5%;}
.pr25{padding-right:25px;}
.pl25{padding-left:25px;}
.pl0{padding-left:0px;}
.pb15{padding-bottom:15px;}
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;}
.pb7p{padding-bottom:7%;}
.pb8p{padding-bottom:8%;}
.montserratbold{font-family: 'Montserrat', sans-serif;src:url("https://fonts.googleapis.com/css?family=Montserrat:800");}
.montserratmedium{font-family: 'Montserrat', sans-serif;src:url("https://fonts.googleapis.com/css?family=Montserrat:600");}
.backheader{background-image: url('../img/header.png'); background-repeat: no-repeat; background-size: 100%; background-position: center top;}
.backheadermobile{background-image: url('../img/background_footer_mobile.png'); background-repeat: no-repeat; background-size: 100%; background-position: center top;}
.backgroundmobile{background-image: url('../img/background_mobile.png'); background-repeat: no-repeat; background-size: 100%; background-position: center top;}
.backheader2{background-image: url('../img/headerinterno.png'); background-repeat: no-repeat; background-size: 100%; background-position: center top;}
.backgroundblue{background-image: url('../img/backgroundblue.png'); background-repeat: no-repeat; background-size: 100%;}
.backgroundblueMobile{background-image: url('../img/backgroundblue_mobile.png'); background-repeat: no-repeat; background-size: 100%;background-position:center bottom}
.backgroundgray{background-image: url('../img/background_gray.png'); background-repeat: no-repeat; background-size: 100%;}
.bglui{background-image: url('../img/background_lui.png'); background-repeat: no-repeat; background-size: 100%; background-position: center top;}
.backfooter{background-image: url('../img/background_footer.png'); background-repeat: no-repeat; background-size: 100%; background-position: bottom;}
.backfooterinterno{background-image: url('../img/background_footerinterno.png'); background-repeat: no-repeat; background-size: 100%; background-position: bottom;}
.backimportante{background-image: url('../img/backgroud_importante.png'); background-repeat: no-repeat; background-size: 100%; background-position: bottom;}
.backbutton{background-image: url('../img/backgroud_button.png'); background-repeat: no-repeat; background-size: 100%;}
.backbuttonwhite{background-image: url('../img/backgroud_button_white.png'); background-repeat: no-repeat; background-size: 100%;}
.footer_botttom{background-image: url('../img/footer_bottom.png'); background-repeat: no-repeat; background-size: 100%; background-position: bottom right;}
.h50vh{height:50vh}
.h100vh{height:100vh}
.h300vh{height:300vh}
.h320vh{height:320vh}
.h170em{height:170em}
.hfotter{height:170em}
.hfotterinterno{height:85em}
.mb15{margin-bottom:15px;}
.mb0{margin-bottom:0px !important}
.mb3p{margin-bottom:3%;}
.mb8p{margin-bottom:8%;}
.mb12p{margin-bottom:12%;}
.mb15p{margin-bottom:15%;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt8p{margin-top:8%;}
.mt7p{margin-top:7%;}
.mt5p{margin-top:5%;}
.mt3p{margin-top:3%;}
.mt1p{margin-top:1%;}
.mt3-5p{margin-top:3.5%;}
.mt16p{margin-top:16%;}
.mt15p{margin-top:15%;}
.mt20p{margin-top:20%;}
.mtinfo{margin-top:45%;}
.mt43p{margin-top:43%;}
.mt30p{margin-top:30%;}
.mt35p{margin-top:35%;}
.mtinfotext{margin-top:39%;}
.ml10p{margin-left:10%}
.ml21p{margin-left:21%}
.ml43p{margin-left:43%}
.ml5p{margin-left:5%}
.ml5p{margin-left:5%}
.ml3p{margin-left:3%}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mr5p{margin-right:5%}
.mr1p{margin-right:1%}
.fs80 {font-size: 80px;}
.fs70 {font-size: 70px;}
.fs60 {font-size: 60px;}
.fs55 {font-size: 55px;}
.fs50 {font-size: 50px;}
.fs48 {font-size: 48px;}
.fs45 {font-size: 45px;}
.fontTitle{font-size: 42px;}
.fs42 {font-size: 42px;}
.fs41 {font-size: 41px;}
.fs40 {font-size: 40px;}
.fs34 {font-size: 34px;}
.fontbutton {font-size: 30px;}
.fs35 {font-size: 35px;}
.fs32 {font-size: 32px;}
.fs30 {font-size: 30px;}
.fs28 {font-size: 28px;}
.fs26 {font-size: 26px;}
.fs25 {font-size: 25px;}
.fs24 {font-size: 24px;}
.fontTitleMob {font-size: 16px;}
.fs22 {font-size: 22px;}
.fs21 {font-size: 21px;}
.fs20 {font-size: 20px;}
.fontinfo {font-size: 20px;}
.fs19 {font-size: 19px;}
.fs18 {font-size: 18px;}
.fs17 {font-size: 17px;}
.fs16 {font-size: 16px;}
.fs15 {font-size: 15px;}
.fs14 {font-size: 14px;}
.fs13 {font-size: 13px;}
.fs12 {font-size: 12px;}
.fs11 {font-size: 11px;}
.fs10 {font-size: 10px;}
.fs9 {font-size: 9px;}
.fs7 {font-size: 7px;}
.h50p{height:50%;}
.fontTitleInfo{font-size:11px}
.h100p{height:100%;}
.fwbbold {font-weight:bold !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:white;
    background-color: #fbba43;
}
.fontTitleMob{font-size:22px;margin-top:5%;margin-left:5%}
.psb{position: absolute;bottom: 9%;left: 7%;}
.psbinterno{position: absolute;bottom: 12%;left: 7%;}
.psbicon{position: absolute;bottom: 3%;left: 6%;}
.psbiconinterno{position: absolute;bottom: 4%;left: 6%;}
.cwhite{
  color:white !important;
}
.br5all{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.br8all{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.cpointer {cursor: pointer;}
.cbluelight{color:#55b9d0}
.cbluedark{color:#054959}
.cyellow{color:#fbba43}
.btnyellow{background-color:#fbba43}
.bcgwhite{background-color:white !important;}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.mtbutton{margin-top:43%}
.psr{position:absolute;right:3%}
.psbfooter{position:absolute;bottom:0}
.w70{width:70px;}
.w80{width:80px;}
.w40{width:40px;}
.w30{width:30px;}
.navbar-default {
    background-color: transparent;
    border-color: transparent; 
}
.alingcenter{display: flex;justify-content: center;align-items: center;}
/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 2%;
    padding-bottom: 1%;
    color: #eee;
    border-top: 1px solid #fbba43;
    background-color:#054959;
}
.wline{width:180px}
.container-narrow > hr {
  margin: 30px 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    border-radius:25px;
}
.bglineyellow{
  background:url("../img/line_yellow.png");
  background-size:cover;
  background-position:center left;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
select {

  /* styling */
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    radial-gradient(#fbba43 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .7em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

@media (min-width: 310px) and (max-width: 332px) {
    .mtbutton{margin-top:50%}
    .fontinfo{font-size:11px}
    .fontTitle{font-size:20px}
    .backgroundblue{background-repeat:repeat}
}
@media (min-width: 333px) and (max-width: 359px) {
    .mtbutton{margin-top:50%}
    .fontinfo{font-size:12px}
    .fontTitle{font-size:21px}
    .backgroundblue{background-repeat:repeat}
}
@media (min-width: 360px) and (max-width: 419px) {
    .mtbutton{margin-top:60%}
    .fontTitle{font-size:22px}
    .fontinfo{font-size:13px}
}
@media (min-width: 420px) and (max-width: 469px) {
    .mtbutton{margin-top:70%}
    .hfotter{height:80em;}
    .fontTitle{font-size:22px}
    .fontinfo{font-size:13px}
}
@media (min-width: 470px) and (max-width: 920px) {
    .fontTitleMob{font-size:30px;margin-top:5%;margin-left:5%}
    .wline{width:200px}
    .fontinfo{font-size:13px}
    .fontTitle{font-size:24px}
    .fontTitleInfo{font-size:12px}
    .fontbutton{font-size:35px}
    .mtbutton{margin-top:72%}
    .hfotter{height:850em;}
}
@media (min-width: 920px) and (max-width: 1100px) {
    .hfotter{height:120em;}
    .hfotterinterno{height:60em;}
    .fontTitle{font-size:35px;}
    .fontTitleMob{font-size:35px;margin-top:6%;margin-left:8%}
    .mtinfotext{margin-top:49%;}
    .mtinfo{margin-top:45%;}
    .fontinfo{font-size:14px}
    .wline{width:260px}
    .fontTitleInfo{font-size:13px}
    .fontbutton{font-size:38px}
    .mtbutton{margin-top:86%}
}
@media (min-width: 1101px) and (max-width: 1200px) {
    .hfotter{height:130em;}
    .hfotterinterno{height:65em;}
    .fontTitle{font-size:36px;}
    .fontinfo{font-size:15px}.mtinfotext{margin-top:50%;}
    .mtinfo{margin-top:47%;}
}
@media (min-width: 1201px) and (max-width: 1299px) {
    .hfotter{height:140em;}
    .fontinfo{font-size:16px}
    .fontTitle{font-size:36px;}
}
@media (min-width: 1300px) and (max-width: 1399px) {
    .hfotter{height:150em;}
    .hfotterinterno{height:75em;}
    .mtinfotext{margin-top:39%;}
}
@media (min-width: 1400px) and (max-width: 1499px) {
    .hfotter{height:165em;}
    .hfotterinterno{height:80em;}
    .mtinfotext{margin-top:48%;}
    .mtinfo{margin-top:46%;}
    .fontTitle{font-size:38px;}
}
@media (min-width: 1500px) and (max-width: 1699px) {
    .hfotter{height:175em;}
    .hfotterinterno{height:85em;}
    .mtinfotext{margin-top:42%;}
    .mtinfo{margin-top:47%;}
    .fontTitle{font-size:40px;}
}
@media (min-width: 1600px) and (max-width: 1760px) {
    .hfotter{height:190em;}
    .hfotterinterno{height:95em;}
    .mtinfotext{margin-top:50%;}
    .mtinfo{margin-top:47%;}
    .fontTitle{font-size:42px;}
}
@media (min-width: 1761px) and (max-width: 1860px) {
    .hfotter{height:200em;}
    .hfotterinterno{height:100em;}
    .mtinfotext{margin-top:43%;}
    .mtinfo{margin-top:45%;}
    .fontTitle{font-size:43px;}
}
@media (min-width: 1861px) and (max-width: 1955px) {
    .hfotter{height:230em;}
    .hfotterinterno{height:115em;}
    .mtinfotext{margin-top:60%;}
    .mtinfo{margin-top:60%;}
    .fontTitle{font-size:44px;}
}
@media (min-width: 1956px) and (max-width: 2087px) {
  .hfotter{height:240em;}
  .hfotterinterno{height:120em;}
    .mtinfotext{margin-top:60%;}
    .mtinfo{margin-top:55%;}
    .fontTitle{font-size:40px;}
    .fontinfo{font-size:25px}
    .fontTitle{font-size:45px;}
}
@media (min-width: 2088px) {
  .hfotter{height:240em;}
  .hfotterinterno{height:130em;}
    .mtinfotext{margin-top:50%;}
    .mtinfo{margin-top:45%;}
    .fontTitle{font-size:42px;}
    .fontinfo{font-size:27px}
    .fontTitle{font-size:47px;}
}


