<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lui-seguro</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="luiSeguroApp" id="body">
  <div class="container-fluid p0 backheader h50p hidden-xs hidden-sm" id="backheader">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="navbar-header">
              <a class="navbar-brand hidden-xs hidden-sm" href="#/">
                <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-2">
                  <img src="img/logolui.png"></img>
                </div>
              </a>
            </div>

          </div>
          <div class="row ml5p " ng-if="interna==0">
            <div class="col-xs-12">
              <div class="col-xs-12 col-md-7 p0 text-right mt3p">
                <div class="col-xs-12 p0 montserratbold fontTitle cwhite text-left">
                  La mejor propuesta <br> de poliza para tu hogar
                </div>
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 text-left ">
                  <img src="img/linea.png " class="wline"></img>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-9 col-sm-5 montserratbold fs16 cwhite text-left">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p0">
      <div style="overflow:hidden;position: relative;" ng-view=""></div>
    </div>
  </div>
  <div class="container-fluid p0 hidden-md hidden-lg">
    <div class="header footer alingcenter mb0">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="navbar-header">
              <a class="navbar-brand hidden-md hidden-lg pl0" href="#/">
                <div class="col-xs-12 col-sm-12 p0 col-md-3 col-md-offset-2">
                  <img src="img/logo_luiMobile.png"></img>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p0 backgroundmobile" id="backheadermobile">
      <div class="container-fluid p0 backheadermobile " id="backheadermobile2">
        <div style="overflow:hidden;position: relative;" ng-view=""></div>
      </div>
    </div>
  </div>
  <div class="footer hidden-xs hidden-sm">
    <div class="container text-center montserratbold fs20">
      Powered by
    </div>
  </div>
  <div class="footer hidden-md hidden-lg">
    <div class="container text-center fwbbold p0 montserratbold fs16">
      INFORMACIÓN DE CONTACTO
    </div>
    <div class="container p0 text-center montserratbold fs13">
      Dirección: Carrera 7 BIS A No. 123-66 Of. 209
      <br> Teléfono: (571) 432 05 80
      <br> Email: info@luiseguros.com
      <br> HORARIO
      <br> Lunes / Viernes: 8am – 6pm
    </div>
    <div class="container alingcenter mt10 mb15">
      <div class="col-xs-2">
        <a href="#">
              <img src="img/icon_facebook.svg" class="img-responsive w40"></img>
            </a>
      </div>
      <div class="col-xs-2">
        <a href="#">
              <img src="img/icon_instagram.svg" class="img-responsive w40"></img>
            </a>
      </div>
      <div class="col-xs-2">
        <a href="#">
              <img src="img/icon_youtube.svg" class="img-responsive w40"></img>
            </a>
      </div>
    </div>
  </div>


  <!-- build:js({.tmp,app}) scripts/scripts.js -->

  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="ng/app.js"></script>
  <script src="ng/controllers/main.js"></script>
  <script src="ng/controllers/cotizacion.js"></script>
  <script src="ng/controllers/confirmacion.js"></script>
  <script src="ng/controllers/formCotizacion.js"></script>
  <script src="ng/controllers/formMobile.js"></script>

  <!-- endbuild -->
</body>

</html>
