<div class="row p0 hidden-xs hidden-sm">
    <div class="row p0">
        <div class="container-fluid p0">
            <div class="col-md-8 col-md-offset-2 mt20p">
                <div class="col-md-7 cbluedark montserratbold fontTitle fwbbold mt15p text-right">
                    Es hora de celebrar.<br> Usted está asegurado.
                </div>
                <div class="col-md-5">
                    <img src="img/img_bird.png" class="img-responsive"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="row p0">
        <div class="container-fluid p0 backfooterinterno hfotterinterno hidden-sm hidden-xs">
        </div>
        <div class="row p0">
            <div class="container-fluid p0 psbinterno">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            QUIENES SÓMOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CLUB LUI
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIO A CLIENTE
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CONTACTO
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            PÓLITICA DE PRIVACIDAD
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Tus datos se encuentran seguros con nosotros.
                            <br> Conoce nuestra politica de uso de datos.
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Manejo y uso de datos
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Contacto
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            INFORMACIÓN DE CONTACTO
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Dirección: Carrera 7 BIS A No. 123-66 Of. 209
                            <br> Teléfono: (571) 432 05 80
                            <br> Email: info@luiseguros.com
                            <br> HORARIO
                            <br> Lunes / Viernes: 8am – 6pm
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="container-fluid p0 psbiconinterno">
            <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs28 p0 fwbbold montserratbold cwhite">
                Siguenos en nuestras redes

            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_facebook.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_instagram.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_youtube.svg" class="img-responsive w80"></img>
            </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p0 hidden-md hidden-lg">
    <div class="row p0">
        <div class="container-fluid p0">
            <div class="col-xs-8 col-xs-offset-2 mt20p">
                <div class="col-xs-12 cbluedark montserratbold fontTitle fwbbold mt15p text-center">
                    Es hora de celebrar.<br> Usted está asegurado.
                </div>
                <div class="col-xs-10 col-xs-offset-1 mb8p">
                    <img src="img/img_bird.png" class="img-responsive"></img>
                </div>
            </div>
        </div>
    </div>
</div>