<div class="row p0 hidden-xs hidden-sm">
    <div class="row p0">
        <div class="container-fluid p0">
            <div class="col-md-6 col-md-offset-3 mt20p">
                <table class="table table-responsive" style="background-color:white">
                    <tr>
                        <td class="fwbbold">GASTOS DE EXPEDICIÓN</td>
                        <td class="text-right">$25,500</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">TOTAL NETO</td>
                        <td class="text-right">$1,296,476</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">IVA 19%</td>
                        <td class="text-right">$245,564</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">PRIMA TOTAL AL AÑO (INCLUIDO IVA)</td>
                        <td class="text-right">$1,542,040</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 col-md-offset-4">
                <div class="row">
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold mr10 text-center backbutton fs20">
                        Descargar
                    </div>
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold mr10 text-center backbutton fs20">
                        Imprimir
                    </div>
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold text-center backbutton fs20" ng-click="fcninterna('formCotizacion')">
                        Continuar
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p0">
        <div class="container-fluid p0 backfooterinterno hfotterinterno hidden-sm hidden-xs">
        </div>
        <div class="row p0">
            <div class="container-fluid p0 psbinterno">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            QUIENES SÓMOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CLUB LUI
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIO A CLIENTE
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CONTACTO
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            PÓLITICA DE PRIVACIDAD
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Tus datos se encuentran seguros con nosotros.
                            <br> Conoce nuestra politica de uso de datos.
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Manejo y uso de datos
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Contacto
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            INFORMACIÓN DE CONTACTO
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Dirección: Carrera 7 BIS A No. 123-66 Of. 209
                            <br> Teléfono: (571) 432 05 80
                            <br> Email: info@luiseguros.com
                            <br> HORARIO
                            <br> Lunes / Viernes: 8am – 6pm
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="container-fluid p0 psbiconinterno">
            <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs28 p0 fwbbold montserratbold cwhite">
                Siguenos en nuestras redes

            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_facebook.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_instagram.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_youtube.svg" class="img-responsive w80"></img>
            </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p0 hidden-md hidden-lg">
    <div class="row p0">
        <div class="container-fluid p0">
            <div class="col-xs-10 col-xs-offset-1 mt20p">
                <table class="table table-responsive" style="background-color:white">
                    <tr>
                        <td class="fwbbold">GASTOS DE EXPEDICIÓN</td>
                        <td class="text-right">$25,500</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">TOTAL NETO</td>
                        <td class="text-right">$1,296,476</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">IVA 19%</td>
                        <td class="text-right">$245,564</td>
                    </tr>
                    <tr>
                        <td class="fwbbold">PRIMA TOTAL AL AÑO (INCLUIDO IVA)</td>
                        <td class="text-right">$1,542,040</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-10 col-xs-offset-1 mb15p">
                <div class="row p0">
                    <div class="col-xs-4 pt15 pb15 cwhite cpointer montserratbold  text-center backbutton fs16">
                        Descargar
                    </div>
                    <div class="col-xs-4 pt15 pb15 cwhite cpointer montserratbold  text-center backbutton fs16">
                        Imprimir
                    </div>
                    <div class="col-xs-4 pt15 pb15 cwhite cpointer montserratbold text-center backbutton fs16" ng-click="fcninterna('formCotizacion')">
                        Continuar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
