<div class="row p0 hidden-sm hidden-xs">
    <div class="row p0">
        <div class="container-fluid p0">
            <div class="col-md-8 col-md-offset-1">
                <div class="row p0 mt15p">
                    <div class="col-md-3 pt15 pb15 cwhite cpointer montserratbold mr10 text-center backbutton fs26">
                        Persona <br>Natural<br>
                    </div>
                    <div class="col-md-3 pt15 pb15 cwhite cpointer montserratbold text-center backbutton fs26">
                        Persona <br>Juridica<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 mt35p">
                <iframe src="archivos/documentacion.pdf" class="col-md-12" height="1100" frameborder="0"></iframe>
            </div>
            <div class="col-md-6 col-md-offset-4">
                <div class="row text-center mt3p">
                    <div class="col-md-8 pt15 pb15 cwhite montserratbold mr10 text-center backimportante fs22">
                        <div class="col-md-12 montserratbold">
                            Importante
                        </div>
                        <div class="col-md-12 fs16 text-center montserratbold">
                            Después de diligenciar debe<br> Imprimir, firmar, poner huella, cargar
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-4">
                <div class="row text-center mt3p">
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold mr10 text-center backbutton fontinfo">
                        Descargar
                    </div>
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold mr10 text-center backbutton fontinfo">
                        Imprimir
                    </div>
                    <div class="col-md-2 pt15 pb15 cwhite cpointer montserratbold text-center backbutton fontinfo">
                        Cargar
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-4">
                <div class="row text-center mt1p">
                    <div class="col-md-3 pt15 pb15 cwhite ml10 cpointer montserratbold mr10 text-center backbutton fontinfo" ng-click="fcninterna('confirmacion')">
                        Pagar
                    </div>
                    <div class="col-md-3 pt15 pb15 cwhite cpointer montserratbold text-center backbutton fontinfo">
                        Volver al inicio
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p0">
        <div class="container-fluid p0 backfooterinterno hfotterinterno hidden-sm hidden-xs">
        </div>
        <div class="row p0">
            <div class="container-fluid p0 psbinterno">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            QUIENES SÓMOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CLUB LUI
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIOS
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            SERVICIO A CLIENTE
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                            CONTACTO
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            PÓLITICA DE PRIVACIDAD
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Tus datos se encuentran seguros con nosotros.
                            <br> Conoce nuestra politica de uso de datos.
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Manejo y uso de datos
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-center pb10 pt10 fontinfo montserratbold btnyellow cwhite cpointer">
                                Contacto
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs20 fwbbold montserratbold cwhite">
                            INFORMACIÓN DE CONTACTO
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-12 mt3p text-left fontinfo montserratbold cwhite">
                            Dirección: Carrera 7 BIS A No. 123-66 Of. 209
                            <br> Teléfono: (571) 432 05 80
                            <br> Email: info@luiseguros.com
                            <br> HORARIO
                            <br> Lunes / Viernes: 8am – 6pm
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="container-fluid p0 psbiconinterno">
            <div class="col-xs-12 col-sm-9 col-md-12 mt3p fs28 p0 fwbbold montserratbold cwhite">
                Siguenos en nuestras redes

            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_facebook.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_instagram.svg" class="img-responsive w80"></img>
            </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
              <img src="img/icon_youtube.svg" class="img-responsive w80"></img>
            </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p0 hidden-md hidden-lg">
  <div class="row p0">
       <div class="container-fluid p0">
            <div class="col-xs-11 col-xs-offset-2 mt3p">
                <div class="row p0 mt15p">
                    <div class="col-xs-4 cwhite cpointer montserratbold mr10 text-center backbutton fs16">
                       <p class=" pt5 pb15"> Persona <br>Natural<br></p> 
                    </div>
                    <div class="col-xs-4 cwhite cpointer montserratbold text-center backbutton fs16">
                        <p class=" pt5 pb15"> Persona <br>Juridica<br></p> 
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1 mt15p">
                <iframe src="archivos/documentacion.pdf" class="col-md-12" height="400" frameborder="0"></iframe>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row text-center mt3p">
                    <div class="col-xs-12  cwhite montserratbold mr10 text-center backimportante fs21">
                        <div class="col-xs-12 pt15 mt10 montserratbold">
                            Importante
                        </div>
                        <div class="col-xs-12 fs16 pb15 text-center montserratbold">
                            Después de diligenciar debe<br> Imprimir, firmar, poner huella, cargar
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2">
                <div class="row text-center mt3p">
                    <div class="col-xs-3  cwhite cpointer montserratbold mr10 text-center backbutton fontinfo">
                        <p class="pt10 ">Descargar</p>
                    </div>
                    <div class="col-xs-3  cwhite cpointer montserratbold mr10 text-center backbutton fontinfo">
                        <p class="pt10 ">Imprimir</p>
                    </div>
                    <div class="col-xs-3  cwhite cpointer montserratbold text-center backbutton fontinfo">
                        <p class="pt10 ">Cargar</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 mb15">
                <div class="row text-center mt1p">
                    <div class="col-xs-5 cwhite ml10 cpointer montserratbold mr10 text-center backbutton fontinfo" ng-click="fcninterna('confirmacion')">
                        <p class="pt10 ">Pagar</p>
                    </div>
                    <div class="col-xs-5 cwhite cpointer montserratbold text-center backbutton fontinfo">
                        <p class="pt10 ">Volver al inicio</p>
                    </div>
                </div>
            </div>
        </div>
  </div>  
</div>
